/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* 
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    } */

    .col-lg-3 {
        width: 100%;
    }

    /* .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    } */

    /* .col-md-6 {
        width: 50%;
    } */

    /* .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    } */

    /* .col-sm-12 {
        width: 100%;
    } */
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .col-lg-3 {
        width: 100%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}